// Font
$mainFont: 'PT Sans';

$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;

// Main color
$default-color: #ffffff;
$primary-color: #1253a2;
$main-text-color: #000000;
$secondary-text-color: #8f8f8f;
$success-color: #06a561;
$success-bg-color: #c4f8e2;
$danger-color: #ff3b30;
$danger-bg-color: #fedada;
$warning-color: #ce8228;
$warning-bg-color: #faf1db;
$info-color: #0584fe;
$info-bg-color: #d4e3f3;
$stable-color: #bc7710;
$stable-bg-color: #fdffb0;
$default-grey-30: rgba(93, 93, 93, 0.3);

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;

// Musait Colors
